PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.<cluster_id>.mongodb.net/?appName=Cluster0
ADMIN_CODE=12345
JWT_SECRET=your_secure_jwt_secret_here
FRONTEND_URL=http://localhost:3000
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password_here
